AnchorPane {
    -fx-background-color: rgb(183, 204, 255);
}

Button {
    -fx-background-color: SteelBlue;
    -fx-text-fill: white;
    -fx-font-family:Arial, Helvetica, sans-serif;
    -fx-font-size: 12px;
    -fx-border-color: azure;
    -fx-effect: reflection(0.2, 0.5, 0.5, 0.2);
    
}

Button:hover{
    -fx-background-color: aquamarine;
    -fx-pref-width: 100px; 
    -fx-pref-height: 40px; 
    -fx-effect: dropshadow(gaussian, #333333, 10, 0, 0, 1); 
    -fx-transition-duration: 0.3s;
    
}

Button:pressed{
    -fx-background-color: rgb(10, 113, 78);
    -fx-border-color: rgb(15, 18, 84);
    
}
Label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-weight: bold;
       
}
TextField {
    -fx-background-color: white;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: medium;
    -fx-border-color: black;
    -fx-border-width: 2.0;
}

TextField:focused {
    -fx-border-color: #118cff; 
    -fx-border-width: 2px; 
}